form input{
  color:blue;
}
div input {
  color:green;
}
@keyframes animar{
  from{
  background-color:yellow;
    width:50px;
  }
  to
  {
    background-color:blue;
    width:199px;
  }
}
input[type="submit"]{
  //animation-name:animar;
  //animation-duration: 20s;

}

body {
  background-color: #a3d5d3;
}
